@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5">
    <div class="row align-items-center">
        <div class="col-md-6">
            <img src="/images/eagle.png" class="img-fluid rounded" alt="Banner image">
        </div>
        <div class="col-md-6">
            <h2 class="mb-3">Добро пожаловать в наш магазин!</h2>
            <p class="lead">
                Здесь вы найдете самые популярные спортивные товары по отличным ценам. 
                Быстрая доставка, отличное качество и простая регистрация!
            </p>
            <a class="btn btn-primary btn-lg mt-3" href="/Home/Register">Зарегистрироваться</a>
          <a class="btn btn-primary btn-lg mt-3" href="/Home/Login">Войти</a>

        </div>
    </div>
</div>
